<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801058183951-k1e6copemnreu7eo2v401vma8bkgpfur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801058183951-k1e6copemnreu7eo2v401vma8bkgpfur</string>
	<key>API_KEY</key>
	<string>AIzaSyDuJfYyf1IatFk-0INbo192V7Ik-Tgb4ag</string>
	<key>GCM_SENDER_ID</key>
	<string>801058183951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lim.serverStatus</string>
	<key>PROJECT_ID</key>
	<string>server-status-379313</string>
	<key>STORAGE_BUCKET</key>
	<string>server-status-379313.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801058183951:ios:9c50b69d9e8e3805b83c7a</string>
</dict>
</plist>